//colours

//$bg-color: red;
$bg-color: #FFFCF7;
$text-color: #1A2421;
$btn-color: #2A462E;

//fonts
$chivo: 'Chivo', sans-serif;
$playfair: 'Playfair Display', serif;

//font size
$h2-size: 3rem;

//size
$prod-width: 18.125rem;

$img-border: 24px;