@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Playfair+Display:wght@400;500;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $chivo;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

hr {
  margin: 4.75vw auto;
  width: 20%;
  border: 0;
  height: 2px;
  background: $text-color;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: $bg-color;

  .left, .right, #logo {
    width: 33.33%;
  }

  .left ul, .right ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .right ul {
    justify-content: flex-end;
  }

  .left li, .right li {
    list-style: none;
    padding: 1rem;
    display: block;
    font-weight: lighter;
    font-size: 1.25rem;
  }

  .left {

    //------------------------------------------------------------------------------------
    // trochu zmodifikovana animacia z https://www.30secondsofcode.org/css/s/hover-underline-animation
    a {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $text-color;
        transform-origin: bottom left;
        transition: transform 200ms ease-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    //------------------------------------------------------------------------------
  }

  .toggle-nav {
    display: none;
  }

  .social-nav {
    display: none;
  }

  .search-mobile {
    display: none;
  }

  #logo {
    font-family: $playfair;
    text-decoration: none;
    font-size: 2.5rem;
    text-align: center;
  }
}

header {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 2.2rem;
  background-image: url("../views/photos/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  h1 {
    width: 100%;
    padding: 1.44rem;
    font-family: $playfair;
    font-weight: normal;
  }

  a {
    display: block;
    font-size: 1.8rem;
    width: 18.75rem;
    height: 3.84rem;
    margin: auto;
    padding: .8rem;
    background-color: $btn-color;
    font-weight: lighter;
    color: $bg-color;
  }
}

article {

  padding-top: 3.063rem;

  h2 {
    display: inline-block;
    font-family: $playfair;
    font-size: $h2-size;
    font-weight: normal;
    margin: 2rem 0 0 8rem;
    padding: 1rem 0;
  }
}

.new-arrivals {

  .see-more {
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: lighter;
    text-decoration: underline;
  }

  .products {
    display: flex;
    justify-content: center;
    gap: 1.92rem;
    width: 86%;
    margin: 0 auto;
  }

  .product2 {
    display: flex;
    gap: 1.92rem;
  }

  .product {
    width: $prod-width;

    p {
      display: inline-block;
      font-size: 1.25rem;
      padding-top: 1rem;
    }

    .image {
      width: $prod-width;
      height: $prod-width;
      overflow: hidden;
      border-radius: $img-border;

      img {
        width: 100%;

      }
    }

    .price {
      float: right;
      font-weight: lighter;
    }
  }
}

.categories {

  .cat-flex {
    display: flex;
    justify-content: center;
    gap: 1.92rem;
    width: 86%;
    margin: 1rem auto 0 auto;
  }

  .category {
    border-radius: $img-border;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    transition: background-size 500ms ease-out;

    &:hover {
      background-size: 150%;
      background-position: center;
    }

    p {
      margin: 2.25rem 3.25rem;
    }

  }

  .cat1 {
    width: 38.88rem;
    height: 25.125rem;
    margin: 0 0 1.92rem 0;
  }

  .cat2 {
    width: 38.88rem;
    height: 16.313rem;
  }

  #succulent {
    background-image: url("../views/photos/succulent.jpg");
  }

  #palm {
    background-image: url("../views/photos/palm.jpg");
  }

  #monstera {
    background-image: url("../views/photos/monstera.jpg");
    height: 15.984rem;
  }

  #alocasia {
    background-image: url("../views/photos/alocasia.jpg");
    background-position: center;
    margin: 1.92rem 0;
  }

  #pothos {
    background-image: url("../views/photos/pothos.jpg");
    background-position: center;
    height: 15.984rem;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.92rem;
  width: 86%;
  margin: 0 auto;

  .photo {
    width: 38.88rem;
    height: 33.757rem;
    background-image: url("../views/photos/about.jpg");
    background-size: cover;

    .photo-text {
      display: none;
    }

    .about-text {
      display: none;
    }
  }

  .text {
    width: 38.88rem;
    padding: 6.067rem;
    font-weight: lighter;
    font-size: 1.2rem;

    a {
      display: inline-block;
      padding-top: 3.034rem;
      text-decoration: underline;
      font-weight: normal;
    }
  }
}

.newsletter {
  text-align: center;
  width: 37.5rem;
  margin: 0 auto 10rem auto;

  h2 {
    margin-bottom: 1.44rem;
    margin-left: 0;
  }

  p {
    font-weight: lighter;
    font-size: 1.2rem;
    margin: .96rem;
  }

  form {
    width: 100%;
    margin: auto;

    & * {
      display: block;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $text-color;
      padding: 1.44rem 0.48rem 0.48rem 0.48rem;
      margin-top: .96rem;
      background-color: $bg-color;
      font-size: 1.2rem;
      font-family: $chivo;
      font-weight: lighter;
    }

    label {
      display: none;
    }

    button {
      width: 18.75rem;
      height: 3.84rem;
      margin: 3.994rem auto;
      padding: .8rem;
      background-color: $btn-color;
      font-family: $chivo;
      font-weight: lighter;
      font-size: 1.8rem;
      color: $bg-color;
      border: none;
      text-align: center;
      display: block;
      cursor: pointer;
    }
  }
}

footer {
  width: 86%;
  margin: 0 auto;
  border-top: 2px solid $text-color;
  display: flex;

  p {
    font-size: 1.2rem;
  }

  .sitemap, .social {
    margin: 4.186rem;
  }

  .sitemap {
    width: 50%;
  }

  .sitemap-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: .96rem;
  }

  .sitemap-flex a {
    width: 33.33%;
    margin: .672rem 0;
    font-weight: lighter;
  }

  .social {
    width: 20%;
  }

  .social-flex {
    margin-top: .96rem;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
  }

  .social-flex a {
    width: 100%;
    padding: 0.288rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .48rem;
    margin: .3rem 0;
  }
}

@media (max-width: 1300px) {
  .new-arrivals {
    .products {
      gap: 3%;
    }

    .product2 {
      gap: 3%;
    }
  }

  .categories {
    .cat-flex {
      width: 70%;
    }

    .cat1, .cat2 {
      width: 40vw;
    }
  }
}

@media (max-width: 1250px) {

  hr {
    width: 35%;
    margin: 5rem auto 4.75vw auto;
  }

  nav {

    .burger {
      width: 33.33%;
    }

    .toggle-nav {
      display: block;
      padding: 1rem;
      width: 1rem;

    }

    .left, #login {
      display: none;
      width: 100%;
    }

    .left {
      position: absolute;
      left: 2rem;
    }

    .left ul {
      flex-direction: column;
      margin-top: 5rem;
    }

    .social-nav {
      display: none;
      justify-content: center;
      gap: 3rem;
      width: 100%;
      position: absolute;
      top: 27rem;
    }

    .social-active {
      display: flex;
    }

    #login {
      font-weight: bold;
      position: absolute;
      left: 3rem;
      top: 20rem;
    }

    .active {
      display: block;
    }


  }

  .active-nav {
    height: 35rem;
  }

  header {
    gap: 5rem;

    h1 {
      font-size: 4rem;
    }
  }

  article {
    h2 {
      margin: 1rem 0 0 2.5rem;
      padding: .5rem 0;
    }
  }

  .new-arrivals {
    width: 100%;

    .products {
      width: 100%;
      flex-wrap: wrap;
      margin-top: 2rem;
      column-gap: 3%;

      .product {
        margin-top: 1rem;
      }
    }

    .product2 {
      column-gap: 3%;
      flex-direction: column;
    }
  }

  .categories {

    .cat-flex {
      flex-direction: column;
      align-items: center;
      gap: .7rem;
      width: 100%;
    }

    #alocasia {
      margin: 0;
    }

    .cat-left, .cat-right {
      display: flex;
      flex-direction: column;
      gap: .7rem;
    }

    .cat1, .cat2 {
      height: 15.984rem;
      width: 90vw;
      margin-bottom: 0;
    }

    #succulent, #palm {
      background-position: center;
    }
  }

  .about {
    .text {
      display: none;
    }

    .photo {
      display: flex;
      align-items: center;
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../views/photos/about.jpg");
      background-size: cover;

      .photo-text {
        width: 100%;
        display: inline-block;
        text-align: center;
        text-decoration: underline;
        color: $bg-color;
        font-size: 2rem;
      }
    }
  }

  .newsletter {
    margin: 2rem auto 8rem auto;
  }

  footer {
    flex-direction: column;

    .sitemap, .social {
      margin: 3rem;
      width: 100%;
    }

    .social-flex {
      width: 85%;

      a {
        width: 50%;
        justify-content: center;
      }
    }

  }
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 650px) {
  hr {
    width: 65%;
    margin: 5rem auto 2rem auto;
  }

  nav {

    .right {

      ul {
        li {
          margin: 1.2rem .5rem;
          padding: 0;
        }
      }

      img {
        width: 1.3rem;
      }
    }

    .left {
      top: 5rem;
    }

    .social-nav {
      top: 40rem;
    }

    .search-mobile {
      position: absolute;
      left: 3rem;
      display: none;
      width: 80%;
      margin: 7rem 0;
      height: 2rem;
      justify-content: center;


      button {
        width: 10%;
        height: 2.2rem;
        border-style: none;
        font-size: 20px;
        outline: none;
        cursor: pointer;
        border-bottom: 1px solid $text-color;
        background-color: transparent;
      }

      input {
        width: 90%;
        border: none;
        border-bottom: 1px solid $text-color;
        padding: 1.44rem 3rem 0.7rem 0;
        background-color: $bg-color;
        font-size: 1.25rem;
        font-family: $chivo;
        font-weight: lighter;
      }

      label {
        display: none;
      }

    }

    #login {
      top: 25rem;
    }

    #search {
      display: none;
    }

    .search-active {
      display: flex;
    }
  }

  .active-nav {
    height: 100%;
  }

  header {
    h1 {
      font-size: 2.5rem;
    }
  }

  article {
    h2 {
      font-size: 2rem;
      margin: 2rem 0 0 1.25rem;
    }
  }

  .new-arrivals {
    .see-more {
      display: block;
      margin: .1rem .28rem 1rem .28rem;
    }

    .product2 {
      flex-direction: column;
    }
  }

  .about {
    width: 90vw;

    .photo {
      height: 19rem;
    }
  }

  .newsletter {
    width: 20rem;
  }

  footer {
    .sitemap {
      margin: 2rem .9rem;
    }

    .sitemap-flex {
      justify-content: space-between;

      a {
        width: 44%;
      }
    }

    .social {
      margin: 0 .9rem 2rem .9rem;
    }

    .social-flex {
      width: 90%;
      justify-content: space-between;

      a {
        width: 10%;
        gap: 0;
      }
    }

    span {
      display: none;
    }
  }
}